body {
	text-align: center;
	color: orange;
	background-color: blue;
	background-image: url("astrotrain.jpe");
	background-size: 100%;
}
.jumbotron {
	background-image: url("bullet_train.jpg");
	background-size: auto 100%;
}
table {
	border: 2px;
	border-style: double;
	border-color: white;
}
footer {
	background-color: orange;
	color: blue;
}